<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    places to go:
    <a href="eleanor">eleanor</a>
    <a href="dojo">dojo</a>
    <a href="index_w_form"> form </a>
  </body>
</html>