<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form action="/process" method="post">
      <input type="text" name="email" placeholder="Email" />
      <input type="text" name="my_name" placeholder="Name" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>